:root {
  --main-color: DarkRed;
}

body {
  font-family: sans-serif;
  margin: 1rem;
}

a {
  color: var(--main-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.main-container > div {
  max-width: 40rem;
}

.header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
}

#url-label {
  margin: 0.5rem;
  margin-left: 0;
}

#url-input {
  flex-grow: 1;
}

.submit-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#submit-button {
  flex-grow: 1;
  font-size: 1rem;
  background: var(--main-color);
  color: white;
  padding: 0.25rem;
  border: none;
  border-radius: 0.5rem;
}

.status-container {
  height: 1rem;
  margin-bottom: 1.5rem;
}

#shortcut-list {
  margin-top: 0.5rem;
}

#shortcut-list > li {
  margin-bottom: 0.5rem;
}
